* {
  box-sizing: border-box
}

html,
body {
  scroll-behavior: smooth;
}


span,
div,
input,
textarea,
button,
select,
a,
pre {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "iran-sans", sans-serif;
}

body {
  font-family: "iran-sans", sans-serif;
  background: #000;
  margin: 0 !important;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card-container {
  perspective: 800px; /* کاهش پرسپکتیو برای تأثیر عمیق‌تر */
}

.card {
  width: 300px;
  height: 300px;
  background-color: #252525;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  border:1px solid #fff;
  color: #fff;
}

.card:hover {
  cursor: pointer;
}