

* {
  box-sizing: border-box
}

html,
body {
  scroll-behavior: smooth;
}

span,
div,
input,
textarea,
button,
select,
a,
pre {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "iran-sans", sans-serif;
}

body {
  font-family: "iran-sans", sans-serif;
  background: #454545;
  margin: 0 !important;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  margin: 20px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.switch-main {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  transition: all 0.6s;
  cursor: pointer;
  background: gray;
}

.switch input {
  display: none;
}

.switch-main::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  margin-top: 5px;
  left: 5px;
  transition: all 0.6s;
}

.switch input:checked~.switch-main {
  background: tomato;
  transition: all 0.6s;
}

.switch input:checked~.switch-main::before {
  left: calc(100% - 25px);
  transition: all 0.6s;
}