@font-face {
  font-family: "iran-sans";
  src: url("./IRANSans.woff");
}

* {
  box-sizing: border-box
}

html,
body {
  scroll-behavior: smooth;
  background: #e0e0e0;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 !important;
  font-family: 'iran-sans', sans-serif ;
}

span,
div,
input,
textarea,
button,
select,
a,
pre {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "iran-sans", sans-serif;
}


.btn-start {
  width: 70px;
  height: 70px;
  border: none;
  background: rgb(74, 90, 228);
  position: absolute;
  bottom: 40px;
  right: 40px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s;
  transform: rotate(0);
}

.btn-start-active {
  transition: all 0.6s;
  transform: rotate(360deg);
}

.btn-start img {
  width: 40px;
  height: 40px;

}

.chat-box {
  width: 270px;
  height: 90%;
  max-height: 600px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 100px;
  bottom: 70px;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}

.chat-box-active {
  bottom: 110px;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s;
}

.chat-box-head {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}

.chat-box-head img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin:0 10px;
}


.chat-box-cont {
  width: 100%;
  height: calc(100% - 100px);
  background: #f9f9f9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-box-cont-item {
  width: auto;
  max-width: 80%;
  height: auto;
  background: rgb(74, 90, 228);
  color: white;
  padding: 5px;
  border-radius: 5px;
  line-height: 27px;
  margin-bottom: 10px;
  text-align: right;
}

.chat-box-footer {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  margin:0 !important;
}

.chat-box-footer input {
  width: calc(100% - 50px);
  height: 40px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.chat-box-footer input:focus {
  outline: none;
}


.chat-box-footer button {
  width: 40px;
  height: 40px;
  background: rgb(74, 90, 228);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}